body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
  color: #FFFFFF;
  /*text-transform: capitalize;*/
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header-top-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  width:100%;
}




.main-header-logo {
  font-size: 24px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  padding: 10px 0 8px 0;
  box-sizing: border-box;
}

.main-header-logo:hover {
  background-color: #CA2C37;
}

.main-header-logo:focus {
  background-color: #BA2732;
}


input[type="search"] {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-color: #293449;
  border-color: #293449;
  font-size: 17px;
  line-height: 18px;
  border: none;
  padding: 12px 0 12px 50px;
  position: relative;
  width: 270px;
  color: #ffffff;
  height: 42px;
}

input[type="search"]:focus {
  background-color: #212A3A;
  border-color: #212A3A;
}


.bookmark-link-inside {
  font-size: 17px;
  line-height: 18px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  position: relative;
}

.basket-link-inside {
  font-size: 17px;
  line-height: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.bookmark-link-inside:hover,
.basket-link-inside:hover {
  background-color: #212A3A;
}

.bookmark-link-inside:focus,
.basket-link-inside:focus {
  background-color: #161D29;
}

.order-form {
  width: 150px;
  background-color: #63a63e;
  font-size: 17px;
  line-height: 18px;
}

.order-form:hover {
  background-color: #5FBB2D;
}

.order-form:focus {
  background-color: #518534;
}

.header-short-information  {
  background-color: #F3F7F9;
  width:100%;
}



.subtitle-info {
  color: #EE3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  text-transform: none;
}

.contacts {
  width: 300px;
}

.contacts-phone {
  font-size: 21px;
  line-height: 18px;
  color: #EE3643;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  border: 3px solid #ffffff;
}

.contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
}

.log-in-link {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-header-stuff {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.log-in-form input[type="text"],
.log-in-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: capitalize;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.log-in-form input:focus {
  border-color: #663d15;
}

.log-in-checkbox:hover,
.log-in-checkbox:focus {
  color: #663d15;
}


.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}


.main-header-top-navigation,
.main-navigation {
  list-style: none;
}

.main-header-top-navigation a,
.main-navigation a {
  color: #ffffff;
}




.site-navigation {
  list-style: none;
}


.log-in-link,
.log-in-username,
.registration-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.log-in-username {
  align-items: center;
  width: 235px;
  height: 44px;
  padding-left: 35px;
  background: #FFFFFF;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-image: url("../img/icon-user.svg");
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 12px;

}

.log-in-username:focus,
.log-out-link:focus  {
  color: #B3B3B3;
}


.log-out-link {
  background-color: #ffffff;
  /*background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;*/
  position: relative;
}

.my-order-and-account  {
  list-style: none;
}


.my-order-link  {
  color: #32425C;
  font-size: 16px;
  line-height: 18px;
}

.my-account-link {
  color: #32425C;
  font-size: 16px;
  line-height: 18px;
}

.my-order-link:hover,
.my-account-link:hover {
  color: #EE3643;
}

.my-order-link:focus,
.my-account-link:focus {
  color: #B3B3B3;
}

.site-navigation a {
  align-items: center;
  background-color: #32425C;
  font-size: 17px;
  position: relative;
}


.site-navigation a:hover {
  background-color: #293449;
  border-bottom: 5px solid #293449;
}

.site-navigation a:focus {
  background-color: #8E939C;
  border-bottom: 5px solid #8E939C;
}



.my-order-and-account {
  list-style: none;
}


.catalog-assortment-of-goods-list {
  list-style: none;
}


.catalog-item-materials {
  color: #ffffff;
  position: relative;
  background-repeat: no-repeat;
  background-color: #FFBF47;
  background-image: url("../img/icon-1.svg");
  width: 300px;
  height: 123px;
}

.catalog-materials-subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.materials-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-tools  {
  background-color: #4aafde;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
}

.catalog-tools-subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.tools-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-equipments {
  color: #ffffff;
  background-color: #DC91D8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
}

.catalog-equipments-subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.equipments-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.special-offer {
  color: #ffffff;
  background-color: #8ED78F;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
}

.special-offer-50-subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.special-offer-50-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.delivery {
  color: #ffffff;
  background-color: #FDC458;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
}

.delivery-subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.delivery-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.photo-subtitle  {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-photo  {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#button-1:checked ~
.picture-switching .photo-1 {
  width: 620px;
  height: 265px;
  background-image: url("../img/photo2.png");
  background-repeat: no-repeat;
  display: block;
}

#button-2:checked ~
.picture-switching .photo-2 {
  width: 620px;
  height: 265px;
  background-image: url("../img/photo1.png");
  background-repeat: no-repeat;
  display: block;
}


.button-open {
  text-transform: uppercase;
  background-color: #EE3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}


.breadcrumbs {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  left: 53px;
  width: 25px;
  height: 25px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.page-title  {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  background-color: #F2F6F8;
  padding: 30px 28px 30px;
  margin: 0;
  height: 90px;
}

.filters-1 {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #F7F3EC;
}


ul {
  list-style: none;
}






.catalog-item {
  width: 218px;
  border: 1px solid #F2F2F2;
  align-items: center;
  text-align: center;
}

.catalog-popular-item  {
  width: 218px;
  border: 1px solid #F2F2F2;
  align-items: center;
  text-align: center;
}

.catalog-category,
.catalog-item-title  {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
}


.company h2,
.info-perforator h2,
.service h2  {
  font-size: 30px;
  line-height: 24px;
  margin: 28px 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}


.about-company {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.option-service {
  list-style: none;
}


.option-service li{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}


.button-in-detail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #EE3643;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.contact-us  {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}


.pick-up  {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}


.button-if-you-lost  {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #EE3643;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}



.contact-us-when-you-lost-form input[type="text"],
.contact-us-when-you-lost-form input[type="tel"],
.contact-us-when-you-lost-form textarea {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
  background-color: #ffffff;
  border: 2px solid #000000;
}

.contact-us-when-you-lost-form {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
}

.contact-us-when-you-lost-form input:focus {
  border-color: #663d15;
}

.button-send {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #EE3643;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.main-footer-logo {
  background-color: #EE3643;
  position: relative;
  width: 220px;
  height: 68px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}



.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #F3F7F9;
}

.main-footer  {
  background-color: #32425C;
}

.copyright-footer-social-feedback {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.social-button,
.copyright,
.footer-first-level-navigation,
.footer-contacts,
.footer-copyright,
.footer-feedback {
  color: #ffffff;
}


.footer-social-list {
  list-style: none;
}


.site-footer-navigation-first-level a {
  font-size: 18px;
  line-height: 24px;
}
.site-footer-navigation-second-level  a {
  font-size: 18px;
  line-height: 24px;
}

.footer-first-level-navigation:focus {
  color: #919BA9;
}

.footer-second-level-navigation:focus {
  color: #988963;
}

.button-footer-mail:focus,
.button-link-footer:focus {
  color: #EE3643;
}

.social-button svg {
  width: 22px;
  height: 22px;
  font-size: 0;
  border-radius: 50%;
}

.social-button svg:active{
  background-color: #212A3A;
}

.social-button svg:hover,
.social-button svg:focus {
  background-color: #EE3643;
}

.button-link-footer,
.button-footer-mail,
.footer-second-level-navigation {
  color: #ffd180;
}

.legend {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-option {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.filter-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.catalog-list {
  list-style: none;
}



.catalog-category {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}


.catalog-item-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.old-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #999999;
}

.new-price,
.actual-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-color: #EE3643;
}



.buy {
  height: 38px;
  background-color: #63A63A;
  box-shadow: inset 0 -3px 0 #367315;
  color: #ffffff;
}

.bookmarks {
  height: 32px;
  border: 3px solid #63A63A;
  background-color: #ffffff;
  color: #32425c;
}

.button-seletions.buy:hover {
  background-color: #5FBB2D;
}

.button-seletions.buy:focus {
  background-color: #518534;
}

.bookmarks:hover {
  border: 3px solid #32425C;
}

.bookmarks:focus {
  border: 3px solid #C2C6CE;
}

.pagination-item a{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-list .pagination-item-current {
  width: 36px;
  height: 36px;
  background-color: #EE3643;
  color: #FFFFFF;
  border: 1px solid #EE3643;
}

.adding-a-product  {
  border-top: 7px solid #EE3643;
  background-color: #FFFFFF;
  width: 620px;
  height: 275px;
}

.adding-a-product-subtitle {
  font-size: 30px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.adding-a-product  a:first-child {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #EE3643;
}



.info-perforator p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.page-title-2 {
  background-color: #F7F3EC;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.popular-manufactors-link a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #EE3643;
}


.manufactor-name a {
  border: 1px solid #F2F2F2;
  height: 143px;
}



.service p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}


.service-offer {
  background-color: #F4F8F9;
}

.service-offer:first-child {
  background-image: url("../img/LKW.png");
  background-repeat: no-repeat;
}


.service-offer:nth-child(2n) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}
.service-offer:last-child  {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.service-offer a:last-child  {
  background: #FF5357;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}




.service-offer h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425C;
  text-transform: uppercase;
}

.service-offer p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}


/* ----- Сеточные стили ----- */

html,
body {
  min-width:1200px;
  height: 3151px;
}

header  {
  width: 100%;
  min-height: 327px;
}


* {
  box-sizing: border-box;
}

.container {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 42px;
}


.main-header {
  min-height: 319px;
}
.main-header-stuff  {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 319px;
}



.main-header-logo {
  width: 220px;
  height: 47px;
  position: relative;
}

.main-header-top-navigation .main-header-logo::after {

  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;

}

.main-header-top-navigation input[type="search"]  {
  width: 270px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  padding-left: 25px;
  background-position: left;
}

.logo-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 42px;
  align-items: center;
}


.bookmark-link-inside {
  margin: 0;
  padding: 0;
  width: 135px;
  position: relative;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  background-position: left;
}

.basket-link-inside {
  margin: 0;
  padding: 0;
  width: 147px;
  position: relative;
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  background-position: left;
}

.order-navigation {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
  padding: 0;
  min-height: 42px;
}

.order-navigation a{
  align-content: center;
}

.order-form {
  width: 150px;
  margin: 0;
  position: relative;
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}



.container-1 {
  width: 940px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-height: 160px;
}




.subtitle-info {
  margin: 0;
  width: 300px;
  padding: 2px 50px 0 52px;
  align-items: center;
}

.subtitle{
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
}


.contacts-phone {
  margin: 0;
  width:250px;
  padding: 0;
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: left;
  padding-left: 25px;
}

.contacts-address {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.contacts  {
  display: flex;
  margin: 0;
  padding: 0;
  width: 300px;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.profile {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 300px;
  height: 45px;
  font-size: 21px;
  line-height: 18px;

}

.log-in-link {
  margin: 0;
  padding: 0;
  width: 120px;
  padding-left: 25px;
  background-position: left;
}

.registration {
  margin: 0;
  padding: 0;
  width: 150px;
  position: relative;
}

.log-in-or-out {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #ffffff;
  width: 300px;
}

.log-out-link {
  width: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.my-order-and-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-items: center;
}



.container-2 {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 60px;
}

.main-navigation  {
  background-color: #F3F7F9;
  width: 100%;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 60px;
  width: 940px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

.site-navigation li:first-child   {
  margin: 0;
  padding: 0;
  width: 90px;
  padding-left: 10px;

}


.site-navigation li:nth-child(2)   {
  margin: 0;
  padding: 0;
  width: 95px;

}

.site-navigation li:nth-child(3)   {
  margin: 0;
  padding: 0;
  width: 82px;
}

.site-navigation li:nth-child(4)   {
  margin: 0;
  padding: 0;
  width: 82px;
}

.site-navigation li:nth-child(5)   {
  margin: 0;
  padding: 0;
  width: 151px;
}

.site-navigation li:nth-child(6)   {
  margin: 0;
  padding: 0;
  width: 90px;
}

.site-navigation li:last-child  {
  margin: 0;
  padding: 0;
  width: 91px;
}



/* ----- <h2>КОМПАНИЯ «ТЕХНОМАРТ»</h2> ----- */


main{
  width: 100%
}


.container-main-h2 {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 540px;
}

.company {
  width: 540px;
  margin-bottom: 86px;
  padding-top: 79px;
}

.option-service {
  padding-left: 36px;
}

.option-service li{
  position: relative;
  padding: 8px 0px 12px 0px;
}

.option-service  li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -36px;
  top: 17px;
  background-color: #fb565a;
}

.button-in-detail {
  margin-top: 24px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3%;
  text-transform: uppercase;
  background-color: #ee3643;
  height: 38px;
  margin-right: 25px;
}



.contacts-directly {
  width: 300px;
  min-height: 540px;
  padding-top: 79px;
}


.contacts-directly p {
  width: 190px;
  margin-bottom: 32px;

}

img {
  border-style: none;
}


.button-if-you-lost {
  width: 300px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3%;
  text-transform: uppercase;
  background-color: #ee3643;
  height: 38px;
  margin-right: 25px;
}

.contact-us-when-you-lost-form {
  position: fixed;
  display: none;
  width: 620px;
}

/* ----- footer ----- */



footer {
  width: 100%;
}


.footer-container {
  width: 940px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 298px;
}

.logo-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

}
.main-footer-logo{
  margin-top: -;
}

.main-footer-logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
}


.footer-contacts {
  margin: 33px 0 50px 3px;

}

.site-footer-navigation-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-footer-navigation-first-level {
  width: 540px;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.site-footer-navigation-second-level {
  width: 540px;
  padding-left: 27px;
  height: 60px;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.social-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  justify-content: space-between;
}

.copyright {
  width: 300px;
}


.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 130px;
}

.social-button-vk {
  width: 41px;
  height: 41px;
  font-size: 0;
  border-radius: 50%;
  background: #212a3a url("../img/icon-vk.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.social-button-vk:hover,
.social-button-fb:hover,
.social-button-vk:focus,
.social-button-fb:focus, {
  background-color: #ee3643;
}

.social-button-insta:hover,
.social-button-insta:focus {
  background-color: #ee3643;
}

.social-button-fb {
  width: 41px;
  height: 41px;
  font-size: 0;
  border-radius: 50%;
  background: #212a3a url("../img/icon-fb.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.social-button-insta {
  width: 41px;
  height: 41px;
  font-size: 0;
  border-radius: 50%;
  background: #212a3a url("../img/icon-insta.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.footer-feedback {
  width: 140px;
  margin-right: 48px;

}

.footer-copyright {
  width: 100px;

}

/* ----- main catalog ----- */

.container-main-catalog {

  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 1500px;

}

.breadcrumbs {
  width: 373px;
  display: flex;
  justify-content: space-around;
  padding: 21px 0;

}



.homepage {
  width: 40px;
  height: 15px;
  font-size: 0;
  background: url("../img/icon-home.svg") no-repeat;
  background-position-x: center;
  background-position-y: center;

}
.page-title {
  width: 940px;
}

.result-request {
  display: flex;
  justify-content: space-between;
}




.catalog-item  {
  position: relative;
  align-items: center;
  width: 218px;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 20px;
}



.filters {
  width: 220px;
}



.filters-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 0 16px 0 19px;
  margin: 19px 0;
}

.half-width-1 {
  margin-bottom: 23px;

}

.half-width-1 label {
  margin-top: 10px;
}

.price-limit-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 80px;
  margin: 10px 0;
  overflow: hidden;
  background: #f7f3ec;

}



input[type="range"] {
  box-shadow: 1px 1px 1px #00ca74, 0px 0px 1px #0d0d0d;
  border: 1px solid #00ca74;
  border-radius: 3px;
  background: #00ca74;
  cursor: pointer;
  padding-left: 25px;
}


.price-limit-number{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 40px;
  margin: 10px 0;
  overflow: hidden;
  background: #ffffff;
}


input[type="number"]{
  border: none;
  width: 85px;
  padding: 0px 2px 0px 8px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f3ec;
}


.separator {
  padding: 0 6px;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;

}
fieldset {
  border: none;
  padding: 0;
}


.filter-maker {
  padding-bottom: 2px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


legend {
  height: 35px;
  width: 220px;
  padding-top: 10px;
  margin-top: 10px;
}

.filter-maker-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  height: 229px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.filter-option {
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-supply {
  display: block;
  height: 200px;
  width: 220px;
}

.filter-option-container  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  height: 80px;
  padding-top: 20px;
}



.filter-button {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 38px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 3%;
  text-transform: uppercase;
}

.sorting-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
  margin-left: 20px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  padding: 0 16px 0 19px;
  margin: 19px 0;
  margin-right: 130px;
  background-color: #f7f3ec;
  width: 700px;
}

.sorting h2  {
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: normal;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
}

.catalog-list{
  width: 700px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-item {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 218px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.pagination-list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 33px 0 30px 0;
}

.pagination-item a{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 5%;
}

.pagination-item-current a{
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}



.pagination-item-text a {
  width: 140px;
}
/* ----- main-bottom ----- */
.container-info-perforator {
  background-color: #f2f6f8;
  min-height: 262px;
}

.info-perforator {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.info-perforator h2 {
  margin: 28px 0;
  padding-top: 69px;
}
